<% if flash.has?(:message) %>
<p style="color:red;"><%= flash[:message] %> </p>
<% end %>
<h1>Welcome, <%= current_user.username %>! </h1>

<h3>Please see below the list of wines you have enjoyed!</h3><br>

<% current_user.wines.each do |wine| %>
    <h2><a href="/wines/<%= wine.id %>"><%= wine.wine_name %></a></h2>
    <p><strong>Type:</strong> <%= wine.type %></p>
    <p><strong>Varietal:</strong> <%= wine.varietal %></p>
    <p><strong>Region:</strong> <%= wine.region %></p>
    <p><strong>Year:</strong> <%= wine.year %></p>
    <p><strong>Price:</strong> <%= wine.price %></p>
    <p><strong>Tasting Notes:</strong> <%= wine.tasting_notes %></p>
    <% end %>

    