<h1> <%= @user.username %> </h1>

<h3>Please see below the list of wines you have enjoyed!</h3>

<% current_user.wines.each do |wine| %>
    <p><%= wine.wine_name %></p>
    <p><%= wine.type %></p>
    <p><%= wine.varietal %></p>
    <p><%= wine.region %></p>
    <p><%= wine.year %></p>
    <p><%= wine.price %></p>
    <p><%= wine.tasting_notes %></p>
    <% end %>

    