<h1> <%= current_user.username %> </h1>

<h3>Please see below the list of wines you have enjoyed!</h3>

<% current_user.wines.each do |wine| %>
    <h2><a href="/wines/<%= wine.id %>"><%= wine.wine_name %></a></h2>
    <p><%= wine.type %></p>
    <p><%= wine.varietal %></p>
    <p><%= wine.region %></p>
    <p><%= wine.year %></p>
    <p><%= wine.price %></p>
    <p><%= wine.tasting_notes %></p>
    <% end %>

    