<% if flash.has?(:message) %>
<p style="color:green;"><%= flash[:message] %> </p>
<% end %>
<h2>One of your favorite wines:</h2>

<h3 style="font-size: 35px;"><strong><%= @wine.wine_name %></strong></h3><br>
<p><strong>Type:</strong> <%= @wine.type %></p>
<p><strong>Varietal:</strong> <%= @wine.varietal %></p>
<p><strong>Region:</strong> <%= @wine.region %></p>
<p><strong>Year:</strong> <%= @wine.year %></p>
<p><strong>Price:</strong> <%= @wine.price %></p>
<p><strong>Tasting Notes:</strong> <%= @wine.tasting_notes %></p>


<% if authorized_to_edit?(@wine) %>
<form action="/wines/<%= @wine.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Wine" class="button">
</form>
<br>
<a class="button" href="/wines/<%= @wine.id %>/edit">Edit Wine</a>
<% end %>