<h2>Description:</h2>


<h3><%= @wine.wine_name %></h3>
<p><%= @wine.type %></p>
<p><%= @wine.varietal %></p>
<p><%= @wine.region %></p>
<p><%= @wine.year %></p>
<p><%= @wine.price %></p>
<p><%= @wine.tasting_notes %></p>


<% if authorized_to_edit?(@wine) %>
<form action="/wines/<%= @wine.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Wine" class="button">
</form>

<a class="button" href="/wines/<%= @wine.id %>/edit">Edit Wine</a>
<% end %>