<% if flash.has?(:message) %>
<p style="color:green;"><%= flash[:message] %> </p>
<% end %>
<h1>I hope you find one you like!</h1><br>

<% @wines.each do |wine| %>
    <h2><a href="/wines/<%= wine.id %>"><%= wine.wine_name %></a></h2>
    <p><strong>Type:</strong> <%= wine.type %></p>
    <p><strong>Varietal:</strong> <%= wine.varietal %></p>
    <p><strong>Region:</strong> <%= wine.region %></p>
    <p><strong>Year:</strong> <%= wine.year %></p>
    <p><strong>Price:</strong> <%= wine.price %></p>
    <p><strong>Tasting Notes:</strong> <%= wine.tasting_notes %></p>
    <p><strong>Created By:</strong> <%= wine.user.username %></p>

<% end %>